body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

p,
input,
a,
button {
  font-size: 16px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

.w_100 {
  width: 100%;
}
.gr_txt {
  background: #3847FF;
  background: linear-gradient(to right, #3847FF 0%, #3ac8f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
.mb_100{
  margin-bottom: 100px;
}
.asc{
  align-items: center;
}
.mt_100{
  margin-top: 100px;
}